# Java install dir under which we expect to find ./include/ and ./include/linux/
JAVA_HOME=/usr/lib/jvm/java-6-sun

# For locating the local Sleuthkit install, choose one of the
# following two options.  If you have no Sleuthkit install at all, get
# e.g.
# http://sourceforge.net/projects/sleuthkit/files/sleuthkit/4.1.3/sleuthkit-4.1.3.tar.gz
# and proceed to 'configure;make;make install'

# When Sleuthkit built in a local playpen and the 'make install' step above NOT done
TSK_INSTALL=/home/stuart/playpen/sleuthkit-4.1.3
TSK_CPPFLAGS=-I$(TSK_INSTALL)
TSK_LDLIBS_STATIC=$(TSK_INSTALL)/tsk/.libs/libtsk.a 
TSK_LDLIBS_SHARED=-L$(TSK_INSTALL)/tsk/.libs -ltsk 

# When Sleuthkit built and installed in its default way
TSK_INSTALL=/usr/local
TSK_CPPFLAGS=-I$(TSK_INSTALL)/include
TSK_LDLIBS_SHARED=-L$(TSK_INSTALL)/lib/ -ltsk
TSK_LDLIBS_STATIC=$(TSK_INSTALL)/lib/libtsk.a 

# Set this according to your preferred build.  A static build links
# all the tsk routines into the .so.  A shared build results in a
# runtime dependency on libtsk.so and the possible need for
# LD_LIBRARY_PATH usage. I prefer the static build.

#TSK_LDLIBS=$(TSK_LDLIBS_STATIC)
TSK_LDLIBS=$(TSK_LDLIBS_SHARED)

# eof

