JAVA_HOME=/usr/lib/jvm/java-6-sun

#TSK_INSTALL=/home/stuart/local/

# for tsk version 4.0.1, we somehow need to link to stdc++
#TSK_INSTALL=/home/stuart/tsk-4.0.1

#TSK_CPPFLAGS=-I$(TSK_INSTALL)/include

#TSK_LDLIBS=$(TSK_INSTALL)/lib/libtsk3.a -lstdc++

# but NOT for versions < 4

#TSK_INSTALL=/home/stuart/playpen/sleuthkit-4.0.2
TSK_INSTALL=/home/stuart/playpen/sleuthkit-4.1.3

TSK_CPPFLAGS=-I$(TSK_INSTALL)

# Link tsk routines in statically.  Then no tsk install needed at runtime
#TSK_LDLIBS_STATIC=$(TSK_INSTALL)/tsk3/.libs/libtsk3.a -lstdc++
TSK_LDLIBS_STATIC=$(TSK_INSTALL)/tsk/.libs/libtsk.a -lstdc++

# Link tsk routines in dynamically.  Will require a tsk install at runtime
#TSK_LDLIBS_SHARED=-L$(TSK_INSTALL)/tsk3/.libs -ltsk3 -lstdc++
TSK_LDLIBS_SHARED=-L$(TSK_INSTALL)/tsk/.libs -ltsk -lstdc++

# Set this according to your preferred build...
#TSK_LDLIBS = $(TSK_LDLIBS_SHARED)
TSK_LDLIBS = $(TSK_LDLIBS_STATIC)

# eof

